<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key><string>com.whirl.research.probeH</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string><string>-c</string>
        <string>printf 'H fire %%s\n' "$(date +%%s.%%N)" >> "/Users/govind.rajpurohit/whirl-probe-H.log"</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key><integer>49</integer>
    </dict>
    <key>StandardOutPath</key><string>/tmp/whirl-probe-H.out</string>
    <key>StandardErrorPath</key><string>/tmp/whirl-probe-H.err</string>
</dict>
</plist>
